<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-simple"/>
        <listEntry value="archetypeVersion=1.5"/>
        <listEntry value="groupId=TicketBooking"/>
        <listEntry value="artifactId=Assignment"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=TicketBooking.Assignment"/>
        <listEntry value="outputDirectory=/Users/a35294/eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/t1/ztxtf3p52dj1f84sjyvn6yy00000gn/T/m2e-archetypeGenerator6653162960348340865"/>
</launchConfiguration>
